<!-- Main content; board -->
<div class="column has-text-centered is-three-quarters">
	<app-board [board]="board"></app-board>
</div>
<!-- Queue content -->
<div class="column has-text-centered is-one-quarter">
	<div class="column" style="display: inline-block;">
		<table class="table is-bordered">
			<tbody>
				<tr *ngFor="let q of queue; let i = index">
					<td class="has-text-centered is-paddingless"
							style="box-sizing: content-box">
						<app-cell [stone]="getAtQueuePosition(i)"></app-cell>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
