.content table td {
	border-right-width: 1px;
	border-right-color: rgb(219, 219, 219);
	border-left-width: 1px;
	border-left-color: rgb(219, 219, 219);
	border-top-width: 1px;
	border-top-color: rgb(219, 219, 219);
	border-bottom-width: 1px;
	border-bottom-color: rgb(219, 219, 219);
}
