mat-toolbar {
	height: 3rem;
}

mat-toolbar-row {
	display: flex;
	justify-content: space-between;
}

.mat-toolbar-multiple-rows {
	min-height: 3rem;
}

.header-item {
	flex: 1 1 6rem;
	text-align: center;
	font: 500 1rem/32px Roboto,"Helvetica Neue",sans-serif;
}

