<div class="section">
	<div class="container">
		<div class="content columns">
			<div class="column has-text-centered is-three-quarters">
				<app-board></app-board>
			</div>
			<div class="column has-text-centered is-one-quarter">
				<div class="column" style="display: inline-block;">
					<table class="table is-bordered">
						<tbody>
							<tr>
								<td class="has-text-centered is-paddingless"
										style="box-sizing: content-box">
									<app-cell></app-cell>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
