.cell-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 5em;
    height: 5em;
    margin: 0;
    border: 5px solid #bcaaa4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-item {
    width: 4em;
    height: 4em;
}
