<div class="cell-container" (click)="setCoords()">
    <div class="item" [style.background]="getBg()">
        <div class="inner-item">
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
  <circle *ngIf="isCircle()" cx="50" cy="50" r="50" 
		[style.fill]="getFg()" />
	<rect *ngIf="isSquare()" x="5" y="5" rx="10" ry="10"
		width="90" height="90" [style.fill]="getFg()" />
	<polygon *ngIf="isTriangle()" points="0,95 50,5 100,95"
		[style.fill]="getFg()" />
	<polygon *ngIf="isStar()" points="50,0 15,100 100,38 0,38 85,100"
		[style.fill]="getFg()" />
	<polygon *ngIf="isWild()" points="50,5 95,50 50,95 5,50"
		[style.fill]="getFg()" />
						</svg>
        </div>
    </div>
</div>
