/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
// @import '@material/top-app-bar/mdc-top-app-bar.scss';

app-status-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

table {
	@include mat-elevation(2);
}

.item {
	@include mat-elevation(4);
}

.column {
	margin-top: .75rem;
}

